.nav {
  height: 80px;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}

.input {
  border: none;
  outline: none;
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 96%;
  padding: 0.7rem;
  // border: 2px solid #2f2f3b;
  border-radius: 0.3rem;
  align-items: left;
}
svg {
  font-size: 1.4rem;
  color: #71717b;
}
