.nav {
  height: 80px;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  margin-left: 25px;
}
.input {
  border: none;
  outline: none;
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 40px;
  width: 400px;
  background: #ffffff;
  opacity: 0.2;
  border: 1px solid #213f7d;
  border-radius: 8px;
  position: relative;
}
.icon {
  position: absolute;
  right: 0;
  height: 40px;
  width: 56px;
  border-radius: 0 8px 8px 0px;
  background: #39cdcc;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}
