.sidebar-container {
  width: 283px;
  // overflow: hidden;

  height: 100vh;
  background: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  h6 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
    margin-left: 25px;
    color: #213f7d;
  }
}
.section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.header {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 25px;
  color: #213f7d;
}
.section-header {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  margin-left: 25px;
  color: #545f7d;
}

span {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  margin-left: 8px;
  color: #213f7d;
}
.section-link {
  height: 40px;
  margin: 10px 0;
  padding: 0 25px;
  display: flex;
  align-items: center;
}
.active {
  border-left: 4px solid#39CDCC;

  background: #e2ffff;
}
.section-link:hover {
  border-left: 4px solid#39CDCC;

  background: #e2ffff;
}
